<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jsonViewer" type="EPocalipse.Json.Viewer.ViewerConfiguration, JsonViewer"/>
  </configSections>
  <jsonViewer>
    <plugins>
      <add key="default" value="EPocalipse.Json.Viewer.JsonObjectVisualizer, JsonViewer"/>
      <add key="AjaxNetDateTime" value="EPocalipse.Json.Viewer.AjaxNetDateTime, JsonViewer"/>
      <add key="CustomDate" value="EPocalipse.Json.Viewer.CustomDate, JsonViewer"/>
      <add key="Grid" value="EPocalipse.Json.Viewer.GridVisualizer, JsonViewer"/>
      <!--<add key="Sample" value="EPocalipse.Json.Viewer.Sample, JsonViewer"/>-->
    </plugins>
  </jsonViewer>
</configuration>