<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NDbUnit.Test.Properties.Settings.testdbConnectionString"
            connectionString="Data Source=localhost\sqlserver2005;Initial Catalog=testdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NDbUnit.Test.Properties.Settings.testdbConnectionString1"
            connectionString="Data Source=|DataDirectory|\SqlServerCe\testdb.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>
