<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="SqlConnectionString" connectionString="Data Source=localhost\SQLServer2005;Database=testdb;Trusted_Connection=True"/>
      <add name="OleDbConnectionString" connectionString="Provider=SQLOLEDB;Data Source=localhost\SQLserver2005;Database=testdb;Integrated Security=SSPI"/>
      <add name="SqlLiteConnectionString" connectionString="Data Source=SqlLite\test.sqlite.db;Version=3;New=True"/>
      <add name="SqlCeConnectionString" connectionString="Data Source=SqlServerCe\testdb.sdf;Persist Security Info=False;"/>
      <add name="MysqlConnectionString" connectionString="Data Source=172.16.1.18;Uid=root; Pwd=aHJaeNN4; Database=testdb; Port=4000"/>
    </connectionStrings>
</configuration>
