<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="SqlConnectionString" connectionString="Data Source=.;Database=testdb;Trusted_Connection=True" />
    <add name="OleDbConnectionString" connectionString="Provider=SQLOLEDB;Data Source=.;Database=testdb;Integrated Security=SSPI" />
    <add name="SqlLiteConnectionString" connectionString="Data Source=SqlLite\test.sqlite.db;Version=3;New=True" />
    <add name="SqlLiteInMemConnectionString" connectionString="Data Source=:memory:;Version=3;New=True" />
    <add name="SqlCeConnectionString" connectionString="Data Source=SqlServerCe\testdb.sdf;Persist Security Info=False;" />
    <add name="MysqlConnectionString" connectionString="Data Source=winxp-vm;Uid=root; Pwd=aHJaeNN4; Database=testdb; Port=4000" />
    <add name="OracleClientConnectionString" connectionString="SERVER=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=winxp-vm)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User ID=user;Password=password" />
    <add name="NDbUnit.Test.Properties.Settings.testdbConnectionString"
        connectionString="Data Source=localhost\sqlserver2005;Initial Catalog=testdb;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="NDbUnit.Test.Properties.Settings.testdbConnectionString1"
        connectionString="Data Source=|DataDirectory|\SqlServerCe\testdb.sdf"
        providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="NDbUnit.Test.Properties.Settings.NorthwindConnectionString"
        connectionString="Data Source=localhost\sqlserver2005;Initial Catalog=Northwind;User ID=sa;Password=aHJaeNN4"
        providerName="System.Data.SqlClient" />
    <add name="NDbUnit.Test.Properties.Settings.testdbConnectionString2"
        connectionString="Data Source=.;Initial Catalog=testdb;User ID=sa;Password=aHJaeNN4"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
