<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--
        Note: connection strings in this file are pre-set for the http://appveyor.com CI server.
        To run the unit test suite in a different environment, use one of the following approaches:
        
        1. Edit these connection strings in-place here in this app.config file
        
        -or-
        
        2. Create a new file named "app.config.<COMPUTERNAME>" in the same folder as this app.config file,
            where <COMPUTERNAME> is the value of the %COMPUTERNAME% environment variable on your PC
            (e.g., if %COMPUTERNAME% = MyComputer, name this new file "app.config.MyComputer".
            
           Configure the contents of this app.config.<COMPUTERNAME> file to use the appropriate connection strings
            for your environment.
            
           When the tests are run, the DbConnection class will replace the target NDbUnit.Test.dll.config with the contents of
            any file matching the pattern "app.config.<COMPUTERNAME>" before it reads connection strings to pass back to the
            running tests.
            
           We recommend adding e.g. "app.config.MyComputer" to your global .gitignore file.  Using this approach, you can create and maintain
            your own 'private' app.config file without the possible danger of committing your own secret connection strings back to the project on GitHub.
    -->
    
    <add name="SqlConnectionString" connectionString="Server=.\SQL2008R2SP2;Database=testdb;User ID=sa;Password=Password12!" />
    <add name="SqlScriptTestsConnectionString" connectionString="Server=.\SQL2008R2SP2;Database=master;User ID=sa;Password=Password12!" />
    <add name="OleDbConnectionString" connectionString="Provider=SQLOLEDB;Server=.\SQL2008R2SP2;Database=testdb;User ID=sa;Password=Password12!" />
    <add name="SqlLiteInMemConnectionString" connectionString="Data Source=:memory:;Version=3;New=True" />
    <add name="PostgresqlConnectionString" connectionString="Server=localhost;Userid=postgres;Password=Password12!;SSL=false;Pooling=false;SslMode=Disable;Database=testdb" />
    <add name="MysqlConnectionString" connectionString="Data Source=localhost;Uid=root; Pwd=Password12!; Database=testdb;" />
    <add name="SqlCeConnectionString" connectionString="Data Source=SqlServerCe\testdb.sdf;Persist Security Info=False;" />
    <add name="SqlLiteConnectionString" connectionString="Data Source=SqlLite\test.sqlite.db;Version=3;New=True" />
    
    <!--  Oracle XE not presently supported on APPVEYOR so this is just a place-holder for now (and the ORA-related tests will _never_ pass) -->
    <add name="OracleClientConnectionString" connectionString="User Id=xdba;Password=xdba;Data Source=127.0.0.1/XE" />
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <system.data>
    <DbProviderFactories>
      
      
      
    <remove invariant="MySql.Data.MySqlClient" /><add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data>
</configuration>
